[Unit]
Description=Allows sending system monitoring data to the RECS|Box management system
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/opt/RECSDaemon
ExecStart=/opt/RECSDaemon/RECSDaemon
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target


